CompileFlags:
  Add: 
    - "-Wall"
    - "-Wextra"
    - "-Werror"
    - "-pthread"
    - "-I/home/dgaillet/Documents/codexion/coders"

Diagnostics:
  ClangTidy:
    Add: []
    Remove: ["*"]

Hover:
  ShowAKA: No

InlayHints:
  Enabled: No
